.blur {
    position: absolute;
    filter: blur(5px);
    height: 100%;
}

.blur-left {
    left: -10px;
}

.blur-right {
    right: -10px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    height: 100% !important;
    min-height: 100%;
}
body {
    position: relative;
    height: 100% !important;
    min-height: 100%;
}